@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.dark {
  color-scheme: dark;
  background-color: #1b1d1e;
  color: white;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 400vh;
  font-family: "EB Garamond", serif;
}

#main-title{
  /* -webkit-text-stroke: 2px #ffffff; */
  /* font-border: 1px solid white; */
  /* color: black; */
  font-weight: bold;
  mix-blend-mode: difference;
  /* filter: invert(100%); */
  /* backdrop-filter: invert(100%); */
}
/* #hero svg{
  width: 32px;
  height: 32px;
  fill: white;
} */
