@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@font-face {
  font-family: 'ColitezSerif';
  src: url('fonts/ColitezSerif-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves performance by showing fallback font while loading */
}

@font-face {
  font-family: 'ZTOtez';
  src: url('fonts/ZTOtez-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves performance by showing fallback font while loading */
}

.dark {
  color-scheme: dark;
  background-color: #1b1d1e;
  color: white;
}

.light {
  color-scheme: dark;
  background-color: #cecece;
  color: #000000;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 400vh;
  font-family: "EB Garamond", serif;
}

#main-title{
  /* -webkit-text-stroke: 2px #ffffff; */
  /* font-border: 1px solid white; */
  /* color: black; */
  font-weight: bold;
  mix-blend-mode: difference;
  /* filter: invert(100%); */
  /* backdrop-filter: invert(100%); */
}

.dark button{
  border: 1px solid white;
  outline: none;
  
}
/* #hero svg{
  width: 32px;
  height: 32px;
  fill: white;
} */
