---
import About from '../components/about.astro';
import Footer from '../components/footer.astro';
import Gallery from '../components/gallery.astro';
import Hero from '../components/hero.astro';
import Nav from '../components/nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Nav></Nav>
	<Hero></Hero>
	<About></About>
	<Gallery></Gallery>
	<Footer></Footer>
</Layout>
