---

---

<section
  id="gallery"
  class="absolute top-[220vh] w-screen min-h-[300vh] h-full light flex flex-col items-center gap-8"
>
  <h1 class="text-6xl my-8">Gallery</h1>
  <!-- <div class="grid grid-cols-2 md:grid-cols-3 gap-3 w-[80vw] max-w-6xl"> -->
    <div class="columns-2 md:columns-3 gap-3 w-[80vw] max-w-6xl">
    <!-- <div class="flex flex-col gap-3"> -->
        <img src="prop.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="pfp.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="prop.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="prop.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="pfp.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="prop.jpg" alt="" class="rounded-xl w-full mb-3">
    <!-- </div> -->
    <!-- <div class="flex flex-col gap-3"> -->
        <img src="pfp.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="prop.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="prop.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="pfp.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="prop.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="pfp.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="prop.jpg" alt="" class="rounded-xl w-full mb-3">
    <!-- </div> -->
    <!-- <div class="flex flex-col gap-3"> -->
        <img src="hero.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="pfp.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="hero.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="pfp.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="hero.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="pfp.jpg" alt="" class="rounded-xl w-full mb-3">
        <img src="hero.jpg" alt="" class="rounded-xl w-full mb-3">
    <!-- </div> -->
  </div>
</section>

<style>
  #gallery {
    background-color: rgb(206, 206, 206);
  }
</style>

